.input_con_label_arriba{
    
    .label_buscador{
        font-size: 14px;
        color: gray;
    }
    .caja_contenedor{
        padding: 5px;
        border: 1px solid #c4c4c4;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: white;
        input{
            width: 100%;
            border: none;
            outline: none;
        }
    }
    .dropdown_buscador{
        display: flex;
        flex-direction: column;
        
        .item_dropdown{
            padding: 4px;
            text-align: center;
            cursor: pointer;
            transition: .2s ease-in-out;
            border: 1px solid gray;
        }
        .item_dropdown:last-child{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .item_dropdown:hover{
            opacity: 0.7;
        }
    }
}