.menu_seleccion{
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    .menu_lateral{
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 40%;
        border: 1px solid black;
        border-radius: 10px;
        .encabezado{
            font-weight: bold;
            
            font-size: 20px;
        }
        .titulo{
            padding: 10px;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 10px;
            width: 100%;
            margin-top: 5px;
            font-weight: 100;
            font-size: 20px;
            transition: .2s ease-in-out;
            .titulo_submenu{
                width: 75%;
                color: red;
            }
        }
        .titulo:hover{
            background-color: rgb(228, 214, 214);
        }
    }
    .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-weight: bold;
        font-size: 30px;
    }
}