
.v_planificacion{
    height: 100%;
}
 

.planificacion{
    height: 100%;
    display: flex;
    flex-direction: column;
    .buscador{
        display: flex;
        padding-left: 13px;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-right: 16px;
        background: #45455b;
        .contenedor{
            display: flex;
            padding: 10px;
            background: #2d2d3c;
            width: 100%;
            border-radius: 7px;
            color: white;
            input{
                width: 90%;
                background: #2d2d3c;
                border: none;
                color: #cacacf;
            }
            .lupa{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10%;
                span{
                    font-size: 20px;
                    color: #45455b;
                }
            }
        } 
    }

    .lista-planificaciones{
        flex: 1;
        overflow: auto;
        .elemento{
            display: flex;
            width: 100%;
            padding-left: 13px;
            padding-top: 15px;
            padding-bottom: 20px;
            .datos{
                display: flex;
                flex-direction: column;
                width: 94%;
                .titulo{
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    .nombre{
                        font-size: 20px;
                        font-weight: 600;
                    }
                    span{
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                    }
                    .opciones{
                        background: #45455b;
                        left: 100px;
                        top: 30px;
                        box-shadow: 0px 0px 8px #212123;
                        position: absolute;
                        width: 160px;
                        z-index: 1;
                        .item-opciones{
                            padding: 10px;
                            cursor: pointer;
                        }
                        .item-opciones:hover{
                            opacity: 0.5;
                        }
                    }
                }
                .tipo{

                }
                .valores{
                    display: flex;
                    .valor{
                        
                        
                        &.costo{
                            background: red;
                            color: white;
                            font-size: 13.5px;
                            display: flex;
                            justify-content: space-around;
                            width: 50%;
                            .valor{
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                max-width: 89px;
                            }
                        }
                        &.margen{
                            background: #45455b;
                            margin-left: 2px;
                            font-size: 13.5px;
                            display: flex;
                            justify-content: space-around;
                            width: 50%;
                            .valor{
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                max-width: 89px;
                            }
                        }
                    }
                }
            }
            .flecha{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10%;
                .caja{
                    background: #17a0b3;
                    color: white;
                    font-size: 20px;
                    border-radius: 24px;
                    width: 85%;
                    text-align: center;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
    .boton{
        padding: 10px;
        display: flex;
        justify-content: center;
        .accion-verde{
            background: #43b760;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .accion-verde:hover{
            opacity: 0.6;
            transition: all 0.3s ease;
        }
    }
}

.mirar-editar-planificacion{
    display: flex;
    height: 100%;
    .planificacion{
        min-width: 300px;
        width: 300px;
    }
    .vista-planificacion{
        width: calc( 100% - 300px );
        border-left: 1px solid #45455b;
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        .cuerpo{
            flex: 1;
            overflow: auto;
            .p-entradas{
                display: flex;
                justify-content: space-evenly;
                .p-entrada{
                    display: flex;
                    width: 25%;
                    height: 37px;
                    margin-right: 20px;
                    margin-left: 10px;
                    .nombre{
                        width: 35%;
                        background: #c8c8eb;
                        padding: 5px;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        text-align: center;
                        color: #45455b;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                    }
                    .texto{
                        width: 65%;
                        background: white;
                        border-bottom-right-radius: 10px;
                        border-top-right-radius: 10px;
                        display: flex;
                        justify-content: center;
                        
                        input{
                            width: 90%;
                            border: none;
                            color: #45455b;
                        }
                    }
                }
            }
            .valores-rendimiento{
                display: flex;
                margin-top: 20px;
                .rendimiento{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    .titulo{
                        display: flex;
                        .espacio{
                            width: 30%
                        }
                        .nombre{
                            width: 50%;
                            text-align: center;
                        }
                        span{
                            width: 20%;
                            font-size: 17px;
                            cursor: pointer;
                            text-align: center;
                        }
                    }
                    .datos{
                        display: flex;
                        width: 100%;
                        .titulo-precio{
                            writing-mode: vertical-lr;
                            transform: rotate(180deg);
                            display: flex;
                            padding-top: 55px;
                            width: 7%;
                            align-items: center;
                        }
                        .valores{
                            width: 93%;
                            .fila{
                                display: flex;
                                width: 100%;
                                .celda{
                                    padding: 10px;
                                    margin: 5px;
                                    border-radius: 7px;
                                    width: 25%;
                                    text-align: center;
                                    &.c-b{
                                        background: #c8c8eb;
                                        color: #45455b;
                                        
                                    }
                                    &.s-p{
                                        padding-left: 2px;
                                        width: 10%;
                                    }
                                }
                            }
                        }
                    }
    
                }
                .resultados{
                    width: 50%;
                    align-items: center;
                    .caja{
                        margin: 10px;
                        display: flex;
                        span{
                            cursor: pointer;
                        }
                        .titulo{
                            color: white;
                            text-align: start;
                            font-size: 14px;
                            font-weight: 100;
                            padding: 0;
                            width: 70%;
                            margin-left: 10px;
                        }
                        .monto{
                            color: white;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            font-style: italic;
                        }
                    }
                    .totales_costo{
                        padding: 0px 25px;
                        .d-total{
                            display: flex;
                            .nombre{
                                width: 60%;
                            }
                        }
                    }
                }
            }
            .desplegables-planificacion{
                display: flex;
                flex-direction: column;
                padding: 10px;
                .tarjeta-p{
                    margin-bottom: 10px;
                    .encabezado{
                        background: #c8c8eb;
                        color: #45455b;
                        padding: 10px;
                        cursor: pointer;
                    }
                    .cuerpo{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;    
                        color: white;
                        
                    }
                    &.labores{
                    
                        .cuerpo{
                            
                            .labores-existentes{
                                flex: 1;
                                width: 100%;
                                padding: 6px;
                                .elemento-labor{
                                    display: flex;
                                    flex-direction: column;
                                    .resumen{
                                        display: flex;
                                        position: relative;
                                        flex-direction: row;
                                        .fecha{
                                            width: 95px;
                                            min-width: 95px;
                                            border-right: 3px solid #c8c8eb;
                                            padding: 8px 0px;
                                        }
                                        .tipo-labor{
                                            width: 40%;
                                            padding: 8px 0px;
                                            padding-left: 30px;
                                        }
                                        .costo-total{
                                            width: 20%;
                                            padding: 8px 0px;
                                            text-align: end;
                                        }
                                        .iconos-edit-delete{
                                            width: 20%;
                                            padding: 8px 0px;
                                            text-align: end;
                                            flex: 1;
                                            span{
                                                margin: 0px 5px;
                                                text-align: end;
                                                cursor: pointer;
                                            }
                                        }
                                        .redondo{
                                            position: absolute;
                                            width: 15px;
                                            height: 15px;
                                            border-radius: 20px;
                                            background: #c8c8eb;
                                            left: 86.4px;
                                            right: 20px;
                                            top: 10px;
                                        }
                                    }
                                    .desplegable-labor{
                                        width: 100%;
                                        .fila-item-labor{
                                            width: 100%;
                                            display: flex;
                                            .titulo-item{
                                                width: 95px;
                                                min-width: 95px;
                                                border-right: 3px solid #c8c8eb;
                                                padding: 8px 0px;
                                                text-align: center;
                                            }
                                            .valores-items{
                                                display: flex;
                                                flex-direction: column;
                                                padding: 10px;
                                                width: 80%;
                                                .valor-item{
                                                    display: flex;
                                                    .nombre-item{
                                                        width: 30%;
                                                    }
                                                    .cantidad-item{
                                                        width: 30%;
                                                        text-align: center;
                                                    }
                                                    .costo-total-item{
                                                        width: 30%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .boton{
                                display: flex;
                                justify-content: center;
                                padding: 5px;
                                width: 100%;
                                .elementos{
                                    background: #c8c8eb;
                                    color: #45455b;
                                    padding: 5px;
                                    border-radius: 6px;
                                    display: flex;
                                    cursor: pointer;
                                    font-size: 12px;
                                    width: 25%;
                                    align-items: center;
                                    justify-content: center;
                                    img{
                                        width: 20px;
                                    }
                                    svg{
                                        width: 20px;
                                    }
                                }
                                .elementos:hover{
                                    transition: all 0.3s ease;
                                    opacity: 0.6;
                                }
                            }
                        }
                    }
    
                    &.resumen{
                        .cuerpo{
                            .totales{
                                width: 90%;
                                height: 100%;
                                padding-top: 15px;
                                .d-total{
                                    display: flex;
                                    .nombre{
                                        width: 50%;
                                    }
                                }
                            }
                        }
                    }

                    &.costos-varios{
                        .cuerpo{
                            margin: 20px 0px;
                            .precios_seleccionados{

                            }
                            .boton_precio{
                                .input_precio{
                                    padding: 10px;
                                    background: white;
                                    /* border-radius: 10px; */
                                    border-top-left-radius: 10px;
                                    border-top-right-radius: 10px;
                                    width: 250px;
                                    border-bottom: 1px solid #c8c8eb;
                                    input{
                                        width: 100%;
                                        border: none;
                                        color: black;
                                    }
                                }
                                .dropdown_precio{
                                    background: white;
                                    .elemento_precio{
                                        color: black;
                                        padding: 10px;
                                        text-align: center;
                                        cursor: pointer;
                                    }
                                    .elemento_precio:hover{
                                        background: #edebeb;
                                    }
                                }
                            }
                            .boton_agregar_precio{
                                background: white;
                                color: #45455b;
                                cursor: pointer;
                                width: 250px;
                                padding: 10px;
                                border-radius: 10px;
                                text-align: center;
                            }
                            .boton_agregar_precio:hover{
                                opacity: 0.6;
                                transition: all 0.3s ease;
                            }
                        }
                    }
                }
                
                
                .resumen{
                    
                }
            }
        }
        
    }
}

.footer-planificacion{
    display: flex;
    padding: 10px;
    justify-content: center;
    .cancelar{
        background: #5b5b78;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        width: 100px;
        text-align: center;
        margin-right: 20px;
    }
    .cancelar:hover{
        transition: all 0.3s ease;
        opacity: 0.6;
    }
    .guardar{
        background: #43b760;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        width: 100px;
        text-align: center;
        margin-left: 20px;
    }
    .guardar:hover{
        transition: all 0.3s ease;
        opacity: 0.6;
    }
}

.pagina-labor{
    position: absolute;
    height: calc( 100% - 40px );
    width: 100%;
    display: flex;
    justify-content: center;
    .fondo{
        position: absolute;
        width: 100%;
        height: calc( 100%);
        background: #202021;
        opacity: 0.9;
        z-index: 1;
    }
}

.registro-campo-v2{
    position: absolute;
    width: 350px;
    min-width: 350px;
    background: #2d2d3c;
    /* height: 50%; */
    z-index: 1;
    max-height: 100%;
    overflow: auto;
    .seleccion-tipo-labor{
        display: flex;
        flex-direction: column;
        .titulo{
            font-size: 17px;
            padding: 20px;
            text-align: center;
        }
        .tipos{
            .fila{
                display: flex;
                justify-content: center;
                .caja{
                    width: 150px;
                    height: 150px;
                    background: #5b5b78;
                    animation: zoomIn 1s;
                    margin: 2.5px;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    transition: all 0.5s ease;
                    .icono{
                        display: flex;
                        justify-content: center;
                        svg{
                            height: 85px;
                            width: 85px;
                            fill: #c8c8eb;
                        }
                    }
                    .etiqueta{
                        font-size: 20px;
                        text-align: center;
                    }
                    &.s-n{
                        cursor: auto;
                    }
                }
                .caja:hover{
                    background: #43b760;
                    transition: all 0.5s ease;
                }
                .caja.s-n:hover{
                    background: #5b5b78;
                    transition: all 0.5s ease;
                }
            }
        }
        .boton-cancelar{
            display: flex;
            justify-content: center;
            padding: 10px;
            font-size: 15px;
            .caja{
                cursor: pointer;
                padding: 10px;
                border-radius: 10px;
                background: #5b5b78;
            }
            .caja:hover{
                opacity: 0.6;
                transition: all 0.3s ease;
            }
        }
    }
}

.check-guardar-primero{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    .contenedor-check-guardar{
        background: #45455b;
        padding: 20px;
        border-radius: 20px;
        .texto-check{
            padding: 10px;
            font-weight: 600;
            font-size: 15px;
            padding-bottom: 30px;
        }
        .botones-check-save-first{
            display: flex;
            justify-content: space-around;
            .cancelar{
                padding: 10px;
                border-radius: 10px;
                background: #2d2d3c;
                cursor: pointer;
            }
            .continuar{
                padding: 10px;
                border-radius: 10px;
                background: #43b760;
                cursor: pointer;
            }
        }
    }
}

.analisis-sensibilidad{
    position: absolute;
    width: 350px;
    min-width: 350px;
    background: #45455b;
    /* height: 100%; */
    z-index: 1;
    .inputs-sensibilidad{
        padding: 20px;
        .slider-sensibilidad{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            margin-top: 20px;
            .rango-slider{
                background: #c8c8eb;
                -webkit-appearance: none;
                border-radius: 10px;
                height: 6px;
                width: 210px;
                margin-left: 12px;
            }
            .rango-slider::-webkit-slider-thumb{
                -webkit-appearance: none; 
                appearance: none;
                width: 15px; 
                height: 15px; 
                border-radius: 15px;
                background: #c8c8eb; 
                cursor: pointer;
            }
            .rango-slider::-moz-range-thumb {
                width: 25px; 
                height: 25px; 
                background: #c8c8eb; 
                cursor: pointer; 
            }
            .valor-slider{
                display: flex;
                justify-content: center;
                width: 45px;
            }
            
        }
    }
}

.labor-especifica{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    .desplegables-v2{
        flex: 1;
        overflow: auto;
        .desplegable-v2{
            margin-bottom: 2px;
            .titulo{
                background: #5b5b78;
                display: flex;
                padding: 5px;
                cursor: pointer;
                .icono{
                    width: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg{
                        width: 20px;
                        fill: #c8c8eb;
                    }
                }
                .nombre{
                    width: 70%;
                    display: flex;
                    align-items: center;
                }
                .flecha{
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .contenido-desplegable{
                width: 100%;
                padding: 20px;
            }
    
            &.insumos-v2{
                .contenido-desplegable{
                    .insumos-existentes{
                        margin-bottom: 20px;
                        .tarjeta-insumo-v2{
                            background: white;
                            color: #2d2d3c;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            margin-bottom: 5px;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                           .encabezado{
                                border-bottom: 1px solid #c8c8eb;
                                display: flex;
                                padding: 7px;
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                               .principal{
                                   width: 90%;
                                   .nombre-insumo{
                                       display: flex;
                                       font-size: 16px;
                                       align-items: center;
                                       .icono{
                                            .a-tipo-card{
                                                .icon{
                                                    width: 20px;
                                                    text-align: center;
                                                    border-radius: 10px;
                                                    font-size: 14px;
                                                }
                                            }
                                       }
                                   }
                                   .otros{
                                       font-size: 12px;
                                       color: #5b5b78;
                                   }
                               }
                               .borrar-insumo{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 10%;
                                    font-size: 14px;
                                    color: red;
                                    span{
                                        cursor: pointer;
                                    }
                               }
                           } 
                           .datos{
                                padding: 20px;
                                border-bottom: 1px solid #c8c8eb;
                                
                               .fila{
                                   display: flex;
                                   .col-dosis{
                                       width: 50%;
                                       font-size: 12px;
                                       color: #5b5b78;
                                       white-space: nowrap;
                                       text-overflow: ellipsis;
                                       overflow: hidden;
                                   }
                               }
                           }
                           .dosis{
                               display: flex;
                               padding: 20px;
                                border-bottom: 1px solid #c8c8eb;
                                border-bottom-left-radius: 10px;
                                border-bottom-right-radius: 10px;
                               .nombre{
                                    font-size: 18px;
                                    width: 40%;
                               }
                               .valor{
                                    width: 40%;
                                    background: #ebebff;
                                    margin-right: 2px;
                                    input{
                                        width: 100%;
                                        border: none;
                                        height: 100%;
                                        background: #ebebfe;
                                        padding-right: 5px;
                                        padding-left: 10px;
                                    }
                               }
                               .selector{
                                    width: 30%;
                                    background: #ebebff;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    cursor: pointer;
                                    position: relative;
                                   .seleccionado{
    
                                   }
                                   .dropdown{
                                        display: none;
                                        background: #ebebfe;
                                        top: 27px;
                                        width: 100%;
                                        position: absolute;
                                        div{
                                            text-align: center;
                                            padding: 5px;
                                        }

                                   }
                               }
                           }
                           .ver-mas-insumo{
                               display: flex;
                               justify-content: center;
                               align-items: center;
                               padding: 10px;
                               .valor{
                                    cursor: pointer;
                                    color: #29abe2;
                               }
                           }
                        }
                    }
                    .boton-insumos{
                        .seleccionar-insumo{
                            background: white;
                            color: black;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            input{
                                width: 100%;
                                padding: 10px;
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                                
                                border: none;
                                border-bottom: 1px solid #9e9e9e;
                            }
                            .desplegable{
                                max-height: 200px;
                                overflow: auto;
                                .input-personal{
                                    text-align: center;
                                    text-align: center;
                                    color: #00b7ff;
                                    padding: 7px;
                                    cursor: pointer;
                                }
                                .input-personal:hover{
                                    background: #edecec;
                                }
                                .elemento-insumo{
                                    cursor: pointer;
                                    display: flex;
                                    padding: 3px;
                                    .icono{
                                        width: 10%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        .a-tipo{
                                            border-radius: 10px;
                                            width: 20px;
                                            text-align: center;
                                            .icon{
                                                border-radius: 10px;
                                            }
                                        }
                                    }
                                    .datos{
                                        width: 90%;
                                        .titulo-insumo{
                                            display: flex;
                                            background: transparent;
                                            padding: 0;
                                            .nombre-insumo{
                                                color: #2d2d3c;
                                                white-space: nowrap;
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                                max-width: 90%;
                                                margin-right: 10px;
                                            }
                                        }
                                        .descripcion{
                                            font-size: 10px;
                                            color: #9e9e9e;
                                            font-weight: bold;
                                        }
                                    }
                                }
                                .elemento-insumo:hover{
                                    background: #edecec;
                                }
                                .ver_mas_insumos{
                                    cursor: pointer;
                                    text-align: center;
                                    padding: 5px;
                                }
                                .ver_mas_insumos:hover{
                                    opacity: 0.6;
                                }
                            }
                        }
                        .b-boton{
                            background: white;
                            display: flex;
                            justify-content: center;
                            padding: 10px;
                            border-radius: 10px;
                            text-align: center;
                            cursor: pointer;
                            color: #9e9e9e;
                            svg{
                                overflow: hidden;
                                fill: #bcbcb9;
                                width: 20px;
                            }
                        }
                        .b-boton:hover{
                            opacity: 0.6;
                            transition: all 0.3s ease;
                        }
                    }
                }
            }
        }
    }
    
}

.input-v2{
    
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    .nombre{
        width: 35%;
        background: #c8c8eb;
        padding: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color: #45455b;
        font-size: 12px;
        min-height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texto{
        width: 73%;
        background: white;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        justify-content: center;
        position: relative;
        
        input{
            width: 80%;
            border: none;
            color: #45455b;
            
        }
        .dropdown{
            position: absolute;
            width: 96%;
            background: white;
            left: 0;
            color: #45455b;
            top: 36px;
            max-height: 200px;
            overflow: auto;
            z-index: 2;
            .item-mas{
                color: #00b7ff;
                padding: 5px;
                cursor: pointer;
                text-align: center;
            }
            .item-dropdown{
                padding: 5px;
                cursor: pointer;
                text-align: center;
            }
            .item-dropdown:hover{
                background: aliceblue;
            }
        }
    }

    &.doble{
        .nombre{
            width: 35%;
            background: #c8c8eb;
            padding: 3px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            text-align: center;
            color: #45455b;
            font-size: 12px;
        }
        .texto{
            width: 35%;
            background: white;
            display: flex;
            justify-content: center;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            input{
                width: 90%;
                border: none;
                color: #45455b;
            }
        }
        .unidad{
            width: 30%;
            background: white;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            display: flex;
            justify-content: center;
            border-left: 1px solid #c8c8eb;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            .seleccionado{
                color: #45455b;
            }
            .dropdown-unidad{
                position: absolute;
                background: white;
                color: black;
                left: 0;
                top: 35px;
                width: 91%;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                box-shadow: 0px 6px 9px 3px #575765;
                z-index: 2;
                .elemento-unidad{
                    text-align: center;
                    cursor: pointer;
                    padding: 5px 0;
                    color: #45455b;
                }
                .elemento-unidad:hover{
                    background: aliceblue;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }
        .eliminar_costo{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            font-size: 16px;
            span{
                cursor: pointer;
            }
            span:hover{
                color: red;
            }
        }
    }
    
}

.botones-registro-v2{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-top: 10px;
    .cancelar{
        padding: 5px;
        display: flex;
        border-radius: 10px;
        background: #5b5b78;
        .box{
            
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
    .cancelar:hover{
        transition: all 0.3s ease;
        opacity: 0.6;
    }
    .guardar{
        .box{
            padding: 8px;
            background: #43b760;
            border-radius: 10px;
            cursor: pointer;
            width: 100px;
            text-align: center;
        }
    }
    .guardar:hover{
        transition: all 0.3s ease;
        opacity: 0.6;
    }
}

.precio{
    background: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    .fila-precio{
        border-bottom: 1px solid #cebfbf;
        padding-bottom: 8px;
        padding-top: 8px;
        .celda{
            display: flex;
            margin-left: 0;
            .nombre{
                width: 50%; 
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: flex;
                align-items: center;
            }
            .entrada{
                width: 30%;
                text-align: center;
                input{
                    width: 80%;
                    border: none;
                    background: #c8c8eb;
                    color: black;
                    border-radius: 5px;
                    padding: 4px;
                    font-size: 12px;
                    text-align: center;
                }
            }
            .unidad{
                width: 20%;
                font-style: oblique;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-left: 20px;
                display: flex;
                align-items: center;
            }
        }
    }
}

.loading-planificacion{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #44455b;
    height: 100%;
}

.nuevo_input{
    display: flex;
    margin: 12px 0px;
    position: relative;
    .form-tag{
        padding: 5px;
        background: #c8c8eb;
        color: #45455b;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        display: flex;
        align-items: center;
        width: 80px;
        justify-content: center;
        font-size: 12px;
    }
    .form-input{
        height: 100%;
        padding: 5px;
        border: 1px solid #c8c8eb;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        input{
            color: #45455b;
            border: none;
        }
    }
    .dropdown{
        display: none;
        position: absolute;
        background: white;
        top: 34px;
        width: 155px;
        left: 81px;
        border: 1px solid #c8c8eb;
        z-index: 2;
        max-height: 150px;
        overflow: auto;
        .elemento_campo{
            padding: 5px;
            text-align: center;
            cursor: pointer;
        }
        .elemento_campo:hover{
            opacity: 0.7;
        }
        .elemento_lote{
            display: flex;
            padding: 5px;
            .box_lote{
                border: 1px solid black;
                padding: 0px 4px;
                cursor: pointer;
                width: 25px;
                span{
                    display: none;
                }
            }
            .nombre_lote{
                padding-left: 5px;
            }
        }
    }
}

#id_planificacion{
    padding-left: 70px;
}